<h2>My Employees</h2>
<div>
  <label for="new-employee">Employee name: </label>
  <input id="new-employee" #employeeName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="add(employeeName.value); employeeName.value = ''"
  >
    Add employee
  </button>
</div>
<ul class="employees">
  <li *ngFor="let employee of employee">
    <a routerLink="/detail/{{ employee.id }}">
      <span class="badge">{{ employee.id }}</span
      >{{ employee.name }}
    </a>
    <button
      type="button"
      class="delete"      
      title="delete employee"
      (click)="delete(employee)"
    >
      x
    </button>
  </li>
</ul>
