<h2>My Employees</h2>
<ul class ="employees">
    <li *ngFor="let employee of employees">
        <button [class.selected] ="employee === selectedEmployee" type ="button" (click) = "onSelect(employee)">
            <span class ="badge">{{employee.id}}</span>
            <span class ="name">{{employee.name}}</span>

        </button>
    </li>
</ul>
<div *ngIf="selectedEmployee">
    <h2>{{selectedEmployee.name | uppercase}} Details</h2>
    <div>ID: {{selectedEmployee.id}}</div>
    <div>
      <label for="employee-name">Employee name: </label>
      <input id="employee-name" [(ngModel)]="selectedEmployee.name" placeholder="name">
    </div>
    <div>Role: {{selectedEmployee.role}}</div>
    <div>Start Date: {{selectedEmployee.startdate | date:"full"}}</div>
  </div>